/**
 * Created by Hanna on 2016-04-18.
 */


body {
    background-color: #ff0000;
    text-align:center;
    font-family: "Arial Black";
}
header{
    color: white;
    background-color: #633c3c;
    border: 6px solid #633c3c;
    height: 150px;
    margin-bottom: 50px;
}
header h1 {
    font-size: 20px;
    line-height: 50px;
}
header p {
    font-size: 70px;
    line-height: 100px;
    font-family: Impact;
}
.main {
    margin: auto;
    position: relative;
    width:600px;
    height:600px;
    font: 10px verdana, sans-serif;
    text-align: left;
}
.main table {
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
}
.main table tr {
    vertical-align: inherit ;
}
.main table tr td {
    width: 20%;
    height: 19%;
    text-align: center;
    font-size: 14px;
    color: #a30000;
    border: 3px solid #000;
    border-radius: 20px;
    background-color: white;
    text-transform: uppercase;
    font-family: "Arial Black";
    cursor: pointer;
}
.main table tr td.egg {
    height: 30px;
}
.main button {
    text-align : center;
    cursor: pointer;
    font-size: 14px;
    color: #a30000;
    height: inherit;
    width: 100%;
    border-radius: 20px;
    text-decoration: none;
    background-color: white;
    font-family: "Arial Black";
    font-size: 14px;
}
.footer{
    width: 100%;
    height: 100px;
}